@import "reset";
*, *::before, *::after{
	box-sizing: border-box;
}
.container{
    width: 640px;
    margin : 0 auto;
}
img{
    vertical-align: middle;
    // border : 1px solid black
}
.content{
    display: flex;
    .leftContent{
        .justify{
            display: flex;
            margin-bottom: 24px;
            h2{
                font-size: 20px;
                line-height: 1.2;
            }
            & .img{
                height: 96px;
                width: 96px;
                font-size: 32px;
                text-align: center;
                padding-top: 16px;
                border: 1px solid black;
            }
            & .description{
                width: 288px;
                font-size: 16px;
                line-height: 1.5;
                margin-left: 20px;
            }
            
        }   
        
    }
    .rightContent{
        margin-left: 20px;
    }
}
.footer{
    
    padding: 48px 0px;
    text-align: center;
    // border: 1px solid black;
    p{
        font-size: 16px;
        line-height: 1.5;
    }
}